<div class="container columns">
    <div class="column" id="burgers-to-eat-list">
        <h2 class="subtitle">Burgers to Eat</h2>
        {{#each burgers}} {{#unless devoured }}
        <div class="card burger">
            <header class="card-header">
                <p class="card-header-title">{{ burger_name }}</p>
                <a href="#" class="card-header-icon" aria-label="more options">
                    <span class="icon">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                </a>
            </header>
            <div class="card-content">
                <h4 class="subtitle">{{ restaurant_name }}</h4>
                <p>{{ address }}</p>
            </div>
            <footer class="card-footer">
                <a class="card-footer-item devour-burger" data-id="{{ burger_id }}">Devour it!</a>
                <a class="card-footer-item delete-burger" data-id="{{ burger_id }}">Delete</a>
            </footer>
        </div>
        {{/unless}} {{/each}}
    </div>
    <div class="container column" id="burgers-devoured">
        <h2 class="subtitle">Burgers Devoured</h2>
        {{#each burgers}} {{#if devoured}}
        <div class="card burger">
            <header class="card-header">
                <p class="card-header-title">{{ burger_name }}</p>
            </header>
            <div class="card-content">
                <h4 class="subtitle">{{ restaurant_name }}</h4>
                <p>{{ address }}</p>
            </div>
        </div>
        {{/if}} {{/each}}
    </div>
</div>